extends: default

# Vendored third-party manifests are kept verbatim from upstream releases and are
# not subject to our formatting rules (re-formatting would complicate upgrades).
ignore: |
  kubernetes/infrastructure/controllers/cnpg-barman-plugin/manifest.yaml

rules:
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  document-start: disable
  comments:
    # Disable comments indentation rules to allow easier commenting out of yaml code blocks
    level: warning
  truthy: disable
